<div class="c-popin c-popin--wrongmarket c-popin--closed" data-component="wrongMarketPopin" role="dialog"
    data-popin="wrongMarketPopin" aria-labelledby="wrongMarketPopin_label" aria-hidden="true">
    <div role="document">
        <div class="c-popin__head">
            <h2 class="c-popin__title" id="wrongMarketPopin_label" data-ref="popinTitle">
                Select your location
            </h2>
            <button type="button" data-ref="closePopinTrigger" data-element="closebtn" data-action="closePopinCross">
                <span class="u-sronly">
                    Close the dialog
                </span>
            </button>
        </div>
        <div class="c-popin__content">
            <div class="c-popin__innercontent">
                By changing the location, all items will be removed from your Shopping Bag and delivery options of that
                location will be applied.
            </div>
        </div>
        <div class="c-popin__actions">
            <button class="c-button c-button--secondary c-button--animation c-button--wrongmarket"
                data-ref="closePopinTrigger" type="button" data-action="closePopinButtonContinue">
                Continue on US
            </button>
            <a class="c-button c-button--primary c-button--animation c-button--wrongmarket" role="button"
                href="https://www.balenciaga.com/fr-fr" data-action="closePopinButtonShop">
                Go to
                FR
            </a>
        </div>
    </div>
</div>